doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- style後面一定要記得加.
        style.
            h1{
                color: red;
            }  
    body 
        h1 AAA 
        a(href="https://google.com" target="_blank")  Google
        img#image.border.roundm(src="https://picsum.photos/300/200/?random=10")
        div BBB
        //- .class => 預設是<div></div>
        .container 
            .row
                .col-12 
                    h1 
                        |ASDASD 
                        br
                        |AAA
                    //- div 內的純文字以 | 代表同一層
        b
        // 會進到HTML的註解
        //- 不會進到HTML的註解
        
        //- script後面一定要記得加.
        script.
            const aaa=document.getElementById('aaa')
