// 定義sass裡面用到的變數
$primary: blue
$warning: yellow
$danger: red

#header
    display: flex
    align-items: center
    align-content: center

    #title
        color: $primary
        // &代指上一層選擇器
        &:hover
            color: $danger
        &>.title-text
            color: $warning
